<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sam Graham's Homepage</title>
    <script src="js/jquery-1.11.2.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/samsApp.js"></script>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
</head>
<body ng-app="samsApp" class="container">
<header class="page-header">
    <div ng-controller="headerController">
        <h1>{{title}} <small>{{subtitle}}</small></h1>
    </div>
</header>
<nav ng-controller="navController">
    <div class="btn-group" role="group">
        <div class="btn-group" role="group">
   <div class="dropdown">
       <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
           Around the Web
           <span class="caret"></span>
       </button>
       <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
           <li role="presentation" ng-repeat="link in links"><a role="menuitem" tabindex="-1" href="{{link.ref}}" target="_blank">{{link.name}}</a></li>
       </ul>
   </div>
        </div>
        <div class="btn-group" role="group">
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
            Assignments
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
            <li ng-repeat="assignment in assignments"><a href="{{assignment.ref}}">{{assignment.name}}</a></li>
        </ul>
    </div>
        </div>
    </div>
</nav>


<div ng-view></div>

<footer class="well">
    <div ng-controller="footerController">
        <div class="row">
            <h5 class="col-md-3 col-lg-3"><a href="mailto:{{email}}">{{email}}</a></h5>
            <h5 class="col-md-3 col-lg-3">{{phone}}</h5>
        </div>
    </div>
</footer>

</body>
</html>